.input {background: #ffffcc; color: #000000 ;font-weight: normal;}
.smallstyle { font-family: verdana, sans-serif; font-size: 8pt; }
.smallstyleW { font-family: verdana, sans-serif; font-size: 8pt; color:#000000; }
.smallstyleAN { font-family: "arial narrow", sans-serif; font-size: 9pt; }

#wife {
	right: 100%;
	margin:0;	
}
.titleandbuts {
	height:110px;
	width:1120px;
	vertical-align:top;
}
textarea {
	font-family: "courier new", verdana, arial, sans-serif;
	font-size: 8pt;
	border: 1px solid #000000;
	background: #ddeeff;
}
.OuterT {
	font-family:verdana, arial, sans-serif;
	font-size: 8pt;
	background: #ddeeff;
	border: 1px solid #bbbbbb;
}
.bigboard {
	table-layout: fixed;
	width:420px;
	height:420px;
	cursor: pointer;
}
.boardbox {
	table-layout: fixed;
	width:138px;
	height:138px;
}
.OuterJ {
	font-family:verdana, arial, sans-serif;
	font-size: 8pt;
	background: #eeeedd;
	border: 1px solid #04349c;
}
.InnerJig {
	font-family:verdana, arial, sans-serif;
	font-size: 8pt;
	color: black;
	border-bottom: 2px solid #888888;
	border-top: 1px solid #888888;
	border-left: 1px solid #888888;
	border-right: 2px solid #888888;
	width:43px;
	height:42px;
	text-align:center;
	vertical-align:middle;
}
.InnerT {
	font-family:verdana, arial, sans-serif;
/*	font-size: 8pt;*/
	color: #000001;
	border: 1px solid #888888;
/*	width:44px;
	height:44px;*/
	text-align:center;
	vertical-align:middle;
}
.InnerT6x6 {
	font-family:verdana, arial, sans-serif;
	font-size: 10pt;
	color: #000001;
	border: 1px solid #000000;
	width:54px;
	height:54px;
	text-align:center;
	vertical-align:middle;
}
.InnerTDone {
	font-family:verdana,sans-serif;
	font-size: 14pt;
	background: #ffffff;
	color:#000000;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	width:24px;
	height:24px;
	text-align:center;
	vertical-align:middle;
}
.InnerTDone2 {
	font-family:verdana,sans-serif;
	font-size: 12pt;
	color: #0000FF;
	background: #ffffff;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	width:24px;
	height:24px;
	text-align:center;
	vertical-align:middle;
}
.DC {
	width:20px;
	height:20px;
	margin:0px;
	background: #555555;
}
.CC {
	width:20px;
	height:20px;
	background: #ccffcc;
	font-family:verdana, arial, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-align:center;
	margin:0px;
	color: #000000;
}
.CC2 {
	width:40px;
	height:40px;
	background: #ffffff;
}
.cager {
	width:3px;
	height:20px;
	background-color: rgb(0,0,0);
}
.cageb {
	width:20px;
	height:3px;
	background-color: rgb(0,0,0);
}
.CG1 {
	font-family:verdana, arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	border: 0px solid #ccffcc;
	background: transparent;
	width:20px;
	height:19px;
	text-align:center;
	margin-right:0px;
	margin-bottom:0px;
}
.CG2 {
	font-family:verdana, arial, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	border: 0px solid #ffffff;
	background: transparent;
	width:38px;
	height:32px;
	text-align:center;
	margin-right:0px;
	margin-bottom:0px;
	padding:0;
}
.DE1,.DE2,.DE3,.DE4 {
	font-family:verdana, arial, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	border: 0px transparent;
	width:20px;
	height:18px;
	text-align:center;
	vertical-align:middle;
	margin-right:2px;
	margin-bottom:2px;
}
.DE1 {
	background-color: #ffcccc;
}
.DE2 {
	background-color: #ccffcc;
}
.DE3 {
	background-color: #ccccff;
}
.DE4 {
	background-color: #ffffcc;
}
.JC1, .JC2, .JC3, .JC4 {
	font-family:verdana, arial, sans-serif;
	font-size: 8pt;
	width:15px;
	height:15px;
	font-weight: normal;
	border: 0px transparent;
	text-align:center;
	vertical-align:middle;
	color:#000000;
}
.JC1 {
	background: #ffcccc;
}
.JC2 {
	background: #ccffcc;
}
.JC3 {
	background: #ccccff;
}
.JC4 {
	background: #ffffcc;
}
.shapefloat {
	display:inline-block;
	float:left;
	width:160px;
	background-color:#000000;
	border:2px solid #888888;
	margin-right:10px;
	margin-bottom:20px;
	text-align:center;
}
.KC1, .KC2, .KC3, .KC4 {
	font-family:verdana, arial, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	border: 0px transparent;
	text-align:center;
	vertical-align:middle;
	height:17px;
}
.KC1 {
	background: #ff4444;
	color:#990000;
}
.KC2 {
	background: #66ff66;
	color:#009900;
}
.KC3 {
	background: #6666ff;
	color:#000099;
}
.KC4 {
	background: #ffff22;
	color:#666666;
}
.stab {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	margin: 0 auto; /* table align (center) */
}
.CL1,.CL2,.CL3,.CL4,.CL5,.CL6,.CL7,.CL8,.CL9 {
	font-family:verdana, arial, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	border: 0px transparent;
	width:20px;
	height:18px;
	text-align:center;
	vertical-align:middle;
	margin-right:2px;
	margin-bottom:2px;
	color:black;
}
.CL1 {
	background-color: #ffcccc;
}
.CL2 {
	background-color: #ddffff;
}
.CL3 {
	background-color: #bbffaa;
}
.CL4 {
	background-color: #ddffbb;
}
.CL5 {
	background-color: #ffffff;
}
.CL6 {
	background-color: #ddeeff;
}
.CL7 {
	background-color: #dddddd;
}
.CL8 {
	background-color: #ffccff;
}
.CL9 {
	background-color: #ffffbb;
}

.KKS {
	width:25px;
	height:20px;
	background: #ccffcc;
	font-family:verdana, arial, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-align:center;
	margin:0px;
	color: #000000;
}
.KKS6x6 {
	width:35px;
	height:30px;
	background: #ccffcc;
	font-family:verdana, arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	text-align:center;
	margin:0px;
	color: #000000;
}
.KKC {
	width:50px;
	height:40px;
	background: #ffffff;
}
.KKI {
	font-family:verdana, arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	border: 0px solid #ccffcc;
	background: transparent;
	width:48px;
	height:30px;
	text-align:center;
	margin-right:0px;
	margin-bottom:0px;
}

.iput {
	font-family:verdana, arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	border: 1px solid #000000;
	background: #bbccdd;
	width:40px;
	text-align:center;
}
.iput2 {
	font-family: Helvetica, arial, verdana, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	border: 1px solid #000000;
	background: #ffffff;
	width:40px;
	height:22px;
	text-align:center;
}
.xcoords, .ycoords, .ycoordsJig, .ycoords6x6 {
	font-family:verdana, arial, sans-serif;
	font-size: 8pt;
	color: #888888;
	text-align:center;
}
.ycoords {
	vertical-align:middle;
	height:46px;
}
.ycoordsJig {
	vertical-align:middle;
	height:47px;
}
.ycoords6x6 {
	vertical-align:middle;
	height:54px;
}
.coords {
	font-family:verdana, arial, sans-serif;
	font-size: 8pt;
	color: #888888;
	text-align:center;
}

.fshON, .fshOFF, .fshGrn, .fshBlu, fshGry { color: #000000; }

.fsh
{
	color: #ff0000;
	background-color: #FFFF00;
}
.fshON { 	background-color: #77ff77; }
.fshOFF {	background-color: #ff7777; }
.fshGrn { 	background-color: #77ff77; }
.fshBlu { 	background-color: #7777ff; }
.fshGry { 
	color: #000000;
	background-color: #ffffdd;
	border:1px dashed #444444;
}

.fsh0,.fsh1,.fsh2,.fsh3,.fsh4,.fsh5,.fsh6,.fsh7,.fsh8,
.hsh0,.hsh1,.hsh2,.hsh3,.hsh4,.hsh5,.hsh6,.hsh7,.hsh8 {
	color: #000000;
	font-size: 8pt;
}
.fsh0 { background-color: #ff7600; }
.fsh1 { background-color: #ffA900; }
.fsh2 { background-color: #8CB32D; }
.fsh3 { background-color: #84E900; }
.fsh4 { background-color: #00AB6F; }
.fsh5 { background-color: #01939A; }
.fsh6 { background-color: #6C8AD5; }
.fsh7 { background-color: #8E6ED7; }
.fsh8 { background-color: #D660DC; }
.hsh0 { border: 1px solid #ff7600; }
.hsh1 { border: 1px solid #ffA900; }
.hsh2 { border: 1px solid #8CB32D; }
.hsh3 { border: 1px solid #84E900; }
.hsh4 { border: 1px solid #00AB6F; }
.hsh5 { border: 1px solid #01939A; }
.hsh6 { border: 1px solid #6C8AD5; }
.hsh7 { border: 1px solid #8E6ED7; }
.hsh8 { border: 1px solid #D660DC; }

.fshBlack
{
	color: #000000;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}
table.candtb
{
	border-spacing:0px;
	empty-cells:show;
	border-collapse:separate;
	table-layout: fixed;
/*	width:36px;
	height:36px;*/
}
table.candtb td
{
	text-align:center;
	padding:0 0 0 0;
	color: #000001;
	font-size:8pt;
	font-family: verdana;
/*	width:12px;
	height:11px;*/
}
.KillerTB, .KillerTR {
	font-family:verdana;
	font-size: 10pt;
	font-weight: bold;
	border: 1px solid #aaaaaa;
	width:25px;
	height:25px;
	text-align:center;
}
.KillerTB {
	color: black;
}
.KillerTR {
	color: red;
}
.sovcb {
	margin: -2px 0 -2px 0;
}
#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}
